<div>
  <h1 style="text-align: center;" class="pb-5">Değerlendirme Sistemine Hoşgeldiniz!</h1>
</div>
<div style="width: 800px; justify-content: space-between;display: flex;" class="d-flex">
  <button  type="button" class="btn btn-primary background"
    (click)="next('period')">Değerlendirme</button>
  <button (click)="next('performans')" type="button" class="btn btn-primary background">Performans</button>
  <button type="button" (click)="next('analiysis-select')" class="btn btn-primary background">Analiz</button>
</div>
